@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #000000;
  
}

.container {
  background: rgb(31, 31, 31);
  background: linear-gradient(
    90deg,
    rgb(36, 36, 36) 46%,
    rgba(37, 37, 37, 1) 99%
  );
  width: 350px;
  border: 4px solid #ff6f4f;
  border-radius: 18px;
  padding: 5px 30px 20px 30px;
}

.heading {
  color: #ff6f4f;
  font-weight: 400;
  padding-bottom: 6px;
}

.line-1 {
  border: 2px solid #ff6f4f;
  width: 220px;
  margin-left: 35px;
}

.line-2 {
  border: 1px solid #525151;
  width: 250px;
  margin-left: 21px;
  margin-bottom: 20px;
}

.display {
  width: 280px;
  height: 50px;
  background: rgb(48, 48, 48);
  background: linear-gradient(
    90deg,
    rgb(36, 36, 36) 46%,
    rgba(37, 37, 37, 1) 99%
  );
  text-align: right;
  color: #ffffff;
  font-size: 30px;
  margin: 10px 0;
  border: none;
}
#history{
  font-size: 20px;
  color: #cfcfcf;
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px 12px;
}

.btns button {
  background-color: #242424;
  color: white;
  border: 1px solid #525151;
  border-radius: 50%;
  padding: 16px 0;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.btns button:hover {
  background-color: #ff6f4f;
  color: black;
  font-weight: bold;
  border: 1px solid rgb(255, 255, 255);
}

.container .operator {
  background-color: #505050;
}

.container .equal{
  background-color: #ff6f4f;
}

.clr-btn {
  color: white;
  background-color: #171717;
  font-size: 22px;
  font-weight: 400;
  padding: 15px 100px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #ff6f4f;
  cursor: pointer;
}
.clr-btn:hover {
  background-color: #ff6f4f;
  color: black;
  border: 4px solid rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 600;
}

 footer{
  color: #ff6f4f;
  font-size: 15spx;
  text-decoration: underline;
  cursor: pointer;
 }